# URL Web App của Google Apps Script (kết thúc bằng /exec)
VITE_GAS_URL=https://script.google.com/macros/s/AKfycbyOxKmOtlpbOLd0X-Ph3WRZ13POOBsbRdjOwXKl27Cfi0Q1wtEIN9bWu8lMbCiuMxBj1Q/exec
# (Tuỳ chọn) khoá đơn giản, phải trùng CONFIG.API_KEY trong apps-script/Code.gs
VITE_API_KEY=
